*{
    box-sizing: border-box;
}

body{
    background-color: rgb(217, 248, 217);
    font-family: 'Roboto', sans-serif;
}

/*container with selects*/
#contain_select{
    height: 10vh;
    width:100%;
    background-color: rgb(136, 247, 136);
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}

/* end */

/* container with heading and calendar table */

.flex_container{    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.chart_header h1{
    text-align : center;
} 

.tb_month{
    background-color:rgb(178, 248, 178) ;
    border: 2px solid rgb(10, 73, 10);
   
}

.tr_head td, .tr_body td{
    border : 1px solid rgb(10, 73, 10);
    height:60px;
    width:60px;

    text-align: center;
}

.tr_head td{
    background-color:rgb(136, 247, 136);
}

td:first-child{
    color : red;
}

/* end  */

/* modal styling */
/* end */
